/* styles.css (נניח שיש קובץ CSS נפרד) */

/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  } */
  
  h1 {
    color: #333;
  }
  
  .meetings-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .meet {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .meet p {
    margin: 8px 0;
  }
  .red{
    background-color: red;  }
    .orange{
      background-color: sienna;
    }
    .green{
      background-color: springgreen;
    }
    .div1{
      margin-top: 320px;
       display:flex;
       flex-direction: row;
       justify-content:space-evenly;
       flex-wrap: wrap;
     
     }
     #ul{
       list-style: none;
     }